/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

Light blue: #07a0c3
Medium blue: #2589bd
Dark blue: #086788

*/

/* Instead of using normalize.css, this css will give us a clean slate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh; /*95% of viewport height*/
  background-image: linear-gradient(to right, #0b92b175, #064053b7),
    url(../img/hero-mountain.jpg); /*To overlay a gradient on an image; use color picker to change opacity */
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; /*To snip a portion of an image out; Can use Clippy CSS path maker*/
}

.logo-box {
  position: absolute;
  top: 40px; /*reference point is parent element with a relative position*/
  left: 40px;
}

.logo {
  height: 65px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 15px;
}

.heading-primary-sub {
  display: block;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 6px;
}

@keyframes {
}
